@using Fashion.Models
@using PagedList.Mvc;
@model PagedList.PagedList<SANPHAM>

@{
    ViewBag.Title = "AllSP";
    Layout = "~/Views/Layout/Fashion.cshtml";
}

<link href="~/Content/listshop.css" rel="stylesheet">

@section Table{
    <div class="col-md-3" style="margin-top: 30px;">
        <div class="list-group">
            <p class="lead">Sản Phẩm</p>
            @Html.Action("LoaiSP", "Fashion")
        </div>

        <div class="list-group">
            <p class="lead">Nhãn Hiệu</p>
            @Html.Action("NhanHieu", "Fashion")
        </div>
    </div>
}


@foreach (var item in Model)
{
    <div class="col-sm-4 col-lg-4 col-md-4">
        <div class="thumbnail">
            <a href="@Url.Action("ChitietSP","Fashion" , new { id = @item.MaSP})">
                <img style="border-radius: 15%; width: 100%; height: 293px; " alt="@item.TenSP" src="~/Sản Phẩm/@item.Anhbia">
            </a>
            <div class="caption" style="margin-bottom:10px">
                <h4 class="pull-right" style="color:black;"><strong>@String.Format("{0:0,0}", item.Giaban) vnđ</strong></h4>
                <h4>
                    <a href="@Url.Action("ChitietSP","Fashion" , new { id = @item.MaSP})" style="color:black">@item.TenSP</a>
                </h4>
                @if (Session["User"] != null)
                {
                    <a href="@Url.Action("ThemGioHang","GioHang",new {masp = @item.MaSP, strUrl = Request.Url.ToString() })" class="buy">Thêm Vào Giỏ</a>
                }
                else
                {
                    <a href="@Url.Action("Login", "NguoiDung")" class="buy">Bạn cần đăng nhập !</a>
                }
            </div>     
        </div>
    </div>
}

@section MenuTrang{

    <div class="MenuTrang">

        @Html.PagedListPager(Model, page => Url.Action("AllSP", new { page = page }))
    </div>
    <style>
        .MenuTrang {
            text-align: center;
            justify-content: center;
            display: inline
        }
    </style>
}