@model Fashion.Models.SANPHAM

@{ ViewBag.Title = "ChitietSP";
    Layout = "~/Views/Layout/Fashion.cshtml"; }

<link href="~/Content/style.css" rel="stylesheet" />

<style>
    .return{
        color: #808080;
        float: right;
        font-size: 16px;
    }
        .return:hover{
            transform: scale(1.5, 1.5);
            color: #000000;
            text-decoration: none;
        }
</style>
<div class="container-Details">
    <div class="card">
        <div class="shoeBackground">
            <a href="#" class="share"><i class="fas fa-share-alt"></i></a>

            <img src="~/Sản Phẩm/@Model.Anhbia" alt="" class="shoe show" color="blue">
            <img src="~/Sản Phẩm/@Model.Anhbia" alt="" class="shoe" color="red">
            <img src="~/Sản Phẩm/@Model.Anhbia" alt="" class="shoe" color="green">
            <img src="~/Sản Phẩm/@Model.Anhbia" alt="" class="shoe" color="orange">
            <img src="~/Sản Phẩm/@Model.Anhbia" alt="" class="shoe" color="black">

        </div>
        <div class="info">
            <a class="big return" href="@Url.Action("AllSP","Fashion")"> X </a>
            <div class="shoeName">
                <div>
                    <h1 class="big">@Model.TenSP</h1>

                </div>
            </div>
            <div class="description">
                <h3 class="title">Product Info</h3>
                <p class="text">@Model.Mota</p>
            </div>
            
            <div class="buy-price">
                <a href="@Url.Action("ThemGioHang","GioHang",new {masp = @Model.MaSP, strUrl = Request.Url.ToString() })" class="buy"><i class="fas fa-shopping-cart"></i>Add to card</a>
                <div class="price">
                    <h1>@Model.Giaban</h1>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/app.js"></script>