@using Fashion.Models
@using PagedList.Mvc;
@model PagedList.PagedList<SANPHAM>
@section MenuTrang{

    <div class="MenuTrang">

        @Html.PagedListPager(Model, page => Url.Action("ThuocNhanHieu", new { page = page }))
    </div>
    <style>
        .MenuTrang {
            text-align: center;
            justify-content: center;
            display: inline
        }
    </style>
}
@{
    ViewBag.Title = "ThuocNhanHieu";
    Layout = "~/Views/Layout/Fashion.cshtml";
}
<link href="~/Content/listshop.css" rel="stylesheet">

@section Table{
    <div class="col-md-3" style="margin-top: 30px;">
        <div class="list-group">
            <p class="lead">Tất Cả</p>
            <a href="@Url.Action("AllSP","Fashion")" class="list-group-item">Tất Cả</a>
        </div>

        <div class="list-group">
            <p class="lead">Sản Phẩm</p>
            @Html.Action("LoaiSP", "Fashion")
        </div>

        <div class="list-group">
            <p class="lead">Nhãn Hiệu</p>
            @Html.Action("NhanHieu", "Fashion")
        </div>
    </div>}
@foreach (var item in Model)
{
    <div class="col-sm-4 col-lg-4 col-md-4">
        <div class="thumbnail">
            <a href="@Url.Action("ChitietSP","Fashion" , new { id = @item.MaSP})">
                <img style="border-radius: 15%; width: 100%; height: 293px;" alt="@item.TenSP" src="~/Sản Phẩm/@item.Anhbia">
            </a>
            <div class="caption" style="margin-bottom:10px">
                <h4 class="pull-right">@item.Giaban <strong>VNĐ</strong></h4>
                <h4>
                    <a href="@Url.Action("ChitietSP","Fashion" , new { id = @item.MaSP})">@item.TenSP</a>
                </h4>
                <a href="@Url.Action("ThemGioHang","GioHang",new {masp = @item.MaSP, strUrl = Request.Url.ToString() })" class="buy">Thêm Vào Giỏ</a>
            </div>

            <div class="ratings">
                <p class="pull-right">12 reviews</p>
                <p>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star-empty"></span>
                </p>
            </div>
        </div>
    </div>
}
@*<table class="table table-bordered table-striped">
        <tr>
            <th style="text-align:center;">
                @Html.DisplayName("Tên Sản Phẩm")
            </th>
            <th>
                @Html.DisplayName("Mô Tả")
            </th>
            <th style="text-align:center;">
                @Html.DisplayName("Hình Sản Phẩm")
            </th>
            <th style="text-align:center;">
                @Html.DisplayName("Giá")
            </th>
            <th>
                @Html.DisplayName("Tồn Kho")
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td style="text-align:center;">
                    @Html.DisplayFor(modelItem => item.TenSP)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Mota)
                </td>
                <td style="text-align:center;">
                    <img style="width:150px" src="/@Html.DisplayFor(modelItem => item.Anhbia)" alt="@item.TenSP" />
                </td>
                <td style="text-align:center;">
                    @Html.DisplayFor(modelItem => item.Giaban) <strong>VNĐ</strong>
                </td>
                <td style="text-align:center;">
                    @Html.DisplayFor(modelItem => item.Soluongton)
                </td>
                <td style="text-align:center; line-height:150px">
                    <a href="@Url.Action("","" , new { id = item.MaSP})" class="btn btn-primary">Buy</a>
                </td>
            </tr>
        }

    </table>*@