@using Fashion.Models;
@using PagedList.Mvc;
@model PagedList.PagedList<DONDATHANG>
@{
    ViewBag.Title = "History";
    Layout = "~/Views/Layout/Fashion.cshtml";
}

<div class="container-xl history-container py-5 px-5" style="margin-top:10%; height: 500px">
    <div class="table-content table-responsive">
        <h2 class="mb-5">Lịch sử mua hàng</h2>
        <table class="table text-center">
            <thead class="border-bottom text-left">
                <tr>
                    <th>Mã đơn hàng</th>
                    <th>Ngày đặt</th>
                    <th>Ngày giao</th>
                    <th>Tổng tiền</th>
                    <th>Địa chỉ</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody class="text-left">
                @foreach (var item in Model)
                {
                <tr>
                    <td class="bill-id">
                        @Html.DisplayFor(modelItem => item.MaDonHang)
                    </td>                
                    <td class="bill-date ">
                        @Html.DisplayFor(modelItem => item.Ngaydat)
                    </td>
                    <td class="bill-date ">
                        @Html.DisplayFor(modelItem => item.Ngaygiao)
                    </td>               
                    <td class="bill-total">
                        @Html.DisplayFor(modelItem => item.TongTien)<span> VNĐ</span>
                    </td>
                    <td class="bill-status">
                        @Html.DisplayFor(modelItem => item.DiaChi)
                    </td>
                    <td class="bill-details">
                        <a href="@Url.Action("HistoryDetails","History",new {id=item.MaDonHang })">View Details</a>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>
