@using Fashion.Models
@model List<GioHang>


@{
	ViewBag.Title = "Giohang";
	Layout = "~/Views/Layout/Fashion.cshtml";
}



@section GioHang{
	<link href="~/Content/bootstrap.min.css" rel="stylesheet">
	<link href="~/Content/GioHang.css" rel="stylesheet">



	<style>
				   *{
					padding: 0;
					margin: 0;
				}

				.content-giohang {

					width: 100%;

					font-size: 16px;
				}


				table {					
					box-shadow: 0px 15px 25px 5px rgb(0 0 0 / 25%);
					border: 0.5px;	
					margin:0 auto  ;
				}

				td {
				
					border: solid 2px;
				}

				tr:first-child {
					background-color:#cecece;
				}

					tr btn {
						margin: 10px 10px;

					}
					tr btn:hover{
						background-color:#79794e;
					}
				media (max-width: 1024px) {


					content-giohang{
					
						font-size: 12px;
					}
				}
		}


			</style>
	
<div class="content-giohang">
	<h1 style="text-align:center;margin:0 auto;" >Giỏ hàng</h1>
	<table align="center" border="1">
        <tr style="text-align: center; font-weight: bold;">
            <td>Mã Sản Phẩm</td>
            <td>Tên Sản Phẩm</td>
            <td>Ảnh</td>
            <td>Số Lượng</td>
            <td>Đơn Giá</td>
            <td>Thành Tiền</td>
            <td>Xóa</td>
            <td>Cập Nhật</td>
     
        </tr>

		@foreach (var item in Model)
		{
			<tr style="text-align:center; ">
				<td>@item.masp</td>
				<td>@item.tensp</td>
				<td><img src="~/Sản Phẩm/@item.anhbia" alt="Alternate Text" /></td>
				@using (Html.BeginForm("CapNhatGioHang", "Giohang", new { @id = item.masp }))
				{
					<td><input type="number" min="1" name="Soluong" value="@item.soluong" style="background-color:white" /></td>
					<td>@String.Format("{0:0,0 }", item.dongia) vnđ</td>
					<td>@String.Format("{0:0,0 }", item.thanhtien) vnđ</td>
					<td><a class="btn btn-danger" style="background-color: #cecece; border-radius: 10px; font-weight: bold; border-color: #808080; color: black; " href="@Url.Action("XoaGioHang","GioHang", new {id = @item.masp})">Xóa</a></td>
					<td><input type="submit" style="background-color: #cecece; border-radius: 10px; border-color: #808080; color: black; font-weight: bold; " class ="btn btn-warning"value="Cập nhật"/></td>

				}

			</tr>
		}
		<tr style="text-align:center;">
			<td></td>
			<td></td>
			<td></td>
			<td>Số Lượng: @ViewBag.TongSoLuong</td>
			<td colspan="3"><strong>Tổng Tiền: <p style="color:red; display:inline-block">@String.Format("{0:0,0 }", ViewBag.TongTien) vnđ</p></strong>  </td>
			<td></td>
		</tr>
		<tr style="text-align:right; font-weight:bold;">

			<td colspan="9">
				<a style="background-color: #cecece; border-radius: 10px; border-color: #808080; color: black; font-weight: bold;" href="@Url.Action("DatHang","GioHang")" class="btn btn-default">Đặt Hàng</a>
				<a style="background-color: #cecece; border-radius: 10px; border-color: #808080; color: black; font-weight: bold; " class ="btn btn-warning" href="@Url.Action("RemoveAll","GioHang")">Xóa Tất Cả</a>
			</td>
		</tr>

	</table>
</div>



