@model Fashion.Models.KHACHHANG

@{
    ViewBag.Title = "SuaKH";
    Layout = "~/Views/Layout/Admin/_LayoutAdmin.cshtml";
}

<h2>SuaKH</h2>

<style>
    h2 {
        font-size: 26px;
    }

    input, textarea {
        color: #000000;
        outline: none;
        font-size: .9em;
        padding: 1em 3em 1em 1em;
        border: none;
        margin-bottom: 20px;
        margin-top: 10px;
        background: rgba(255, 255, 255, 0.85);
        width: 62%;
        color: #000;
        border-radius: 30px;
        font-weight: 400;
        font-family: 'Open Sans', sans-serif;
        letter-spacing: 1px;
        text-align: center;
    }

        input:hover {
            transform: scale(1.2, 1.2)
        }

    .form-horizontal {
        text-align: center;
        justify-content: center
    }

    .btn {
        color: black;
        background: #8d8e49;
        border: none;
        padding: .7em 20px;
        outline: none;
        width: 44%;
        font-size: 1em;
        cursor: pointer;
        letter-spacing: 1px;
        font-weight: 400;
        font-family: 'Open Sans', sans-serif;
        transition: 0.5s all;
        -webkit-transition: 0.5s all;
        -o-transition: 0.5s all;
        -moz-transition: 0.5s all;
        -ms-transition: 0.5s all;
        border-radius: 30px;
        font-weight:bold;
    }

        .btn:hover {
            color: white;
            background: #2e3016;
        }

    .return {
        margin: 25px auto;
        padding: 10px;
        color: black;
        background: #8d8e49;
        border: none;
        outline: none;
        width: 100px;
        cursor: pointer;
        letter-spacing: 1px;
        font-family: 'Open Sans', sans-serif;
        transition: 0.5s all;
        -webkit-transition: 0.5s all;
        font-weight: bold;
        -o-transition: 0.5s all;
        -moz-transition: 0.5s all;
        -ms-transition: 0.5s all;
        border-radius: 30px;
    }

        .return:hover {
            color: white;
            background: #2e3016;
        }

    @@media(max-width: 1040px) {
        .return {
            margin-left: 8%;
            padding: 0.7em 90px;
            margin-top: 0px;
            width: 44%;
        }
    }

    @@media(max-width: 780px) {


        .return {
            margin-left: 8%;
            padding: 0.7em 60px;
            margin-top: 0px;
            width: 44%;
        }
    }

    @@media(max-width: 430px) {


        .return {
            margin-left: 8%;
            padding: 0.7em 37px;
            margin-top: 0px;
            width: 44%;
            padding: 0.7em 35px;
        }
    }

    @@media(max-width: 380px) {


        .return {
            margin-left: 6%;
            margin-top: 0px;
            width: 49%;
            padding: 0.7em 35px;
        }
    }

    @@media(max-width: 320px) {


        .return {
            margin-left: 6%;
            margin-top: 0px;
            width: 49%;
            padding: 0.7em 25px;
        }
    }
</style>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>KHACHHANG</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.MaKH)

    <div class="form-group">
        @Html.LabelFor(model => model.HoTen, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.HoTen, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.HoTen, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        Tài Khoản:
        <div class="col-md-10">
            <input type="text" name="TaiKhoan" disabled value="@Model.Taikhoan" />
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Matkhau, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Matkhau, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Matkhau, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.DiachiKH, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.DiachiKH, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.DiachiKH, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.DienthoaiKH, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.DienthoaiKH, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.DienthoaiKH, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="clear"></div>
    <div class="form-group">
        Cập Nhật Ngày Sinh

        <div class="col-md-10">
            <p>@String.Format("{0:dd/MM/yyyy}", Model.Ngaysinh)</p>
            <input required type="date" name="Ngaysinh" />
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div class="return">
    @Html.ActionLink("Quay Lại", "DSKH")
</div>
