@model Fashion.Models.SANPHAM

@{
    ViewBag.Title = "Suasanpham";
    Layout = "~/Views/Layout/Admin/_LayoutAdmin.cshtml";
}

<h2 style="font-size: 26px; text-align: center;">Điều Chỉnh Thông Tin Sách</h2>
<style>
    h2 {
        font-size: 26px;
    }

    .clear {
        clear: both;
    }

    .tenanh {
        width: 20%;
    }

    textarea, input, #MaloaiSP, #MaNCC {
        color: #000000;
        outline: none;
        font-size: .9em;
        padding: 1em 3em 1em 1em;
        border: none;
        margin-bottom: 20px;
        margin-top: 10px;
        background: rgba(255, 255, 255, 0.85);
        width: 62%;
        color: #000;
        border-radius: 30px;
        font-weight: 400;
        font-family: 'Open Sans', sans-serif;
        letter-spacing: 1px;
        text-align: center
    }

        

    .tenanh:hover {
        transform: none
    }

    .form-horizontal {
        text-align: center;
        justify-content: center;
    }

    .btn {
        color: white;
        background: #ea2858;
        border: none;
        padding: .7em 20px;
        outline: none;
        width: 44%;
        font-size: 1em;
        cursor: pointer;
        letter-spacing: 1px;
        font-weight: 400;
        font-family: 'Open Sans', sans-serif;
        transition: 0.5s all;
        -webkit-transition: 0.5s all;
        -o-transition: 0.5s all;
        -moz-transition: 0.5s all;
        -ms-transition: 0.5s all;
        border-radius: 30px;
    }

        .btn:hover {
            color: #ea2858;
            background: white;
        }

    .return {
        margin-left: 19%;
        margin-top: 25px;
        color: white;
        background: #ea2858;
        border: none;
        padding: .7em 40px;
        outline: none;
        width: 22%;
        font-size: 1em;
        cursor: pointer;
        letter-spacing: 1px;
        font-weight: 400;
        font-family: 'Open Sans', sans-serif;
        transition: 0.5s all;
        -webkit-transition: 0.5s all;
        -o-transition: 0.5s all;
        -moz-transition: 0.5s all;
        -ms-transition: 0.5s all;
        border-radius: 30px;
    }

        .return:hover {
            color: #ea2858;
            background: white;
        }

    @@media(max-width: 1040px) {
        .return {
            padding: 0.7em 75px;
            margin-top: 0px;
            width: 44%;
        }
    }

    @@media(max-width: 780px) {


        .return {
            padding: 0.7em 47px;
            margin-top: 0px;
            width: 44%;
        }
    }

    @@media(max-width: 430px) {


        .return {
            margin-top: 0px;
            width: 44%;
            padding: 0.7em 25px;
        }
    }

    @@media(max-width: 380px) {


        .return {
            margin-top: 0px;
            width: 49%;
            padding: 0.7em 24px;
        }
    }

    @@media(max-width: 320px) {


        .return {
            margin-top: 0px;
            width: 49%;
            padding: 0.7em 14px;
        }
    }
</style>
@using (Html.BeginForm("Suasanpham", "ChucNang", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.MaSP)
        <div class="form-group">
            Tên Sản Phẩm
            <div class="col-md-10">
                <input required type="text" name="TenSP" value="@Model.TenSP" />
            </div>
        </div>

        <div class="form-group">
            Giá
            <div class="col-md-10">
                <input required type="text" name="Giaban" value="@Model.Giaban" />
            </div>
        </div>

        <div class="form-group">
            Mô Tả
            <div class="col-md-10">
                <textarea required name="Mota" rows="10" cols="40">@Model.Mota</textarea>
            </div>
        </div>

        <div class="form-group">
            Ảnh Bìa
            <div class="col-md-10">
                <input type="file" name="fileupload" />
                <div style="text-align: -webkit-center"><img style="width:200px" src="~/Sản Phẩm/@Model.Anhbia" /></div>
                <input class="tenanh" type="text" readonly name="Anh" value="@Model.Anhbia" />
            </div>
        </div>
        <div class="clear"></div>
        <div class="form-group">
            Ngày Cập Nhật

            <div class="col-md-10">
                <p>@String.Format("{0:dd/MM/yyyy}", Model.Ngaycapnhat)</p>
                <input required type="date" name="Ngaycapnhat" />
            </div>
        </div>

        <div class="form-group">
            Số Lượng Tồn
            <div class="col-md-10">
                <input required type="text" name="Soluongton" value="@Model.Soluongton" />
            </div>
        </div>

        <div class="form-group">
            Loại Sản Phẩm
            <div class="col-md-10">
                @Html.DropDownList("MaloaiSP")
            </div>
        </div>

        <div class="form-group">
            Nhà Cung Cấp
            <div class="col-md-10">
                @Html.DropDownList("MaNCC")
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Lưu" class="btn btn-default" />
                <a href="@Url.Action("DSsanpham","ChucNang")" class="btn btn-default">Back</a>
            </div>
        </div>
    </div>
}

