@model Fashion.Models.SANPHAM

@{
    ViewBag.Title = "Themsanpham";
    Layout = "~/Views/Layout/Admin/_LayoutAdmin.cshtml";
}
<style>
    h2 {
        font-size: 26px;
    }

    input, #Loai, #MaNCC,textarea {
        color: #000000;
        outline: none;
        font-size: .9em;
        padding: 1em 3em 1em 1em;
        border: none;
        margin-bottom: 20px;
        margin-top: 10px;
        background: rgba(255, 255, 255, 0.85);
        width: 62%;
        color: #000;
        border-radius: 30px;
        font-weight: 400;
        font-family: 'Open Sans', sans-serif;
        letter-spacing: 1px;
        text-align: center;
    }


    .form-horizontal {
        text-align: center;
        justify-content: center
    }

    .btn {
        color: white;
        background: #ea2858;
        border: none;
        padding: .7em 20px;
        outline: none;
        width: 44%;
        font-size: 1em;
        cursor: pointer;
        letter-spacing: 1px;
        font-weight: 400;
        font-family: 'Open Sans', sans-serif;
        transition: 0.5s all;
        -webkit-transition: 0.5s all;
        -o-transition: 0.5s all;
        -moz-transition: 0.5s all;
        -ms-transition: 0.5s all;
        border-radius: 30px;
    }

        .btn:hover {
            color: #ea2858;
            background: white;
        }

    .return {
        margin-left: 39%;
        margin-top: 25px;
        margin-bottom: 25px;
        color: white;
        background: #ea2858;
        border: none;
        padding: 0.7em 95px;
        outline: none;
        width: 22%;
        font-size: 1em;
        cursor: pointer;
        letter-spacing: 1px;
        font-weight: 400;
        font-family: 'Open Sans', sans-serif;
        transition: 0.5s all;
        -webkit-transition: 0.5s all;
        -o-transition: 0.5s all;
        -moz-transition: 0.5s all;
        -ms-transition: 0.5s all;
        border-radius: 30px;
    }

        .return:hover {
            color: #ea2858;
            background: white;
        }

    @@media(max-width: 1040px) {
        .return {
            margin-left: 8%;
            padding: 0.7em 90px;
            margin-top: 0px;
            width: 44%;
        }
    }

    @@media(max-width: 780px) {


        .return {
            margin-left: 8%;
            padding: 0.7em 60px;
            margin-top: 0px;
            width: 44%;
        }
    }

    @@media(max-width: 430px) {


        .return {
            margin-left: 8%;
            padding: 0.7em 37px;
            margin-top: 0px;
            width: 44%;
            padding: 0.7em 35px;
        }
    }

    @@media(max-width: 380px) {


        .return {
            margin-left: 6%;
            margin-top: 0px;
            width: 49%;
            padding: 0.7em 35px;
        }
    }

    @@media(max-width: 320px) {


        .return {
            margin-left: 6%;
            margin-top: 0px;
            width: 49%;
            padding: 0.7em 25px;
        }
    }
</style>


@using (Html.BeginForm("Themsanpham","ChucNang",FormMethod.Post,new { @enctype = "multipart/form-data"}))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label>Tên Sản Phẩm</label>
            <div class="col-md-10">
                <input required type="text" name="Ten" placeholder="Tên Sản Phẩm....." />
            </div>
        </div>

        <div class="form-group">
            <label>Giá</label>
            <div class="col-md-10">
                <input required type="text" name="Gia" placeholder="Giá....." />
            </div>
        </div>

        <div class="form-group">
            <label>Mô tả</label>
            <div class="col-md-10">
                <textarea required class="textarea" name="textarea" placeholder="Mô tả thông tin sách"></textarea>
            </div>
        </div>

        <div class="form-group">
            <label>Hình</label>
            <div class="col-md-10">
                <input type="file" name="fileupload" required />
                @ViewBag.ThongBaoAnh
            </div>
        </div>

        <div class="form-group">
            <label>Ngày cập nhật</label>
            <div class="col-md-10">
                <input required type="date" name="Date" placeholder="Ngày cập nhật....." />
            </div>
        </div>

        <div class="form-group">
            <label>Số lượng</label>
            <div class="col-md-10">
                <input type="number" name="SoLuong" min="0" required />
            </div>
        </div>

        <div class="form-group">
            <label>Loại sản phẩm</label>
            <div class="col-md-10">
                @Html.DropDownList("Loai")
            </div>
        </div>

        <div class="form-group">
            <label>Nhà cung cấp</label>
            <div class="col-md-10">
                @Html.DropDownList("MaNCC")
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="THÊM" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div class="return">
    @Html.ActionLink("Quay Lại", "DSsanpham")
</div>