
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Layout/Fashion.cshtml";
}

<h2> Đổi mật khẩu</h2>
@using (Html.BeginForm())
{
    <form action="#" method="post">
        @*<h4 style="color:red; background-color:snow;text-align:center;border-radius:20%;">@ViewBag.ThongBao</h4>*@
        <div class="pom-agile">
            <input placeholder="Password Old" name="passold" class="pass" type="text" required="">
            <span class="icon2"><i aria-hidden="true"></i></span>
            @ViewData["1"]
        </div>
        <div class="pom-agile">
            <input placeholder="Password New" name="passnew" class="pass" type="password" required="">
            <span class="icon2"><i aria-hidden="true"></i></span>
            @ViewData["2"]
        </div>
        <div class="pom-agile">
            <input placeholder="Confirm Pass" name="passagain" class="pass" type="password" required="">
            <span class="icon2"><i aria-hidden="true"></i></span>
            @ViewData["3"]
        </div>
        <div class="right-w3l">
            <h6><a href="@Url.Action("Index","Fashion")" style="margin-right:25px">Trang chu</a></h6>
            <div class="right-w3l">
                <input class="submit" type="Submit" value="ChangePass">
            </div>
        </div>
    </form>
}
