<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>VTA Shop</title>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Bootstrap Core CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">

    <style>
                .container {
                    padding-top: 10px;
                }
                /*Design button Top*/
                #bttop {
                    width: 40px;
                    height: 40px;
                    position: fixed;
                    bottom: 10px;
                    right: 30px;
                    border: none;
                    background-color: #ffffcf;
                    color: black;
                    border-radius: 4px;
                    cursor: pointer;
                    display: none;
                }
                    #bttop:hover {
                        background-color: #5f5f5e;
                    }
                /*Design button Login*/
                .Login {
                    float: right;
                    text-align: center;
                    list-style: none;
                    cursor:pointer;
                }       
                    .Login a {
                        margin-bottom: 20px;
                        line-height: 40px;
                        padding: 3px;
                        text-decoration: none;
                        color: black;
                        display: block;
                        margin: 10px
                    }
                        .Login a:hover {
                            background-color: #2b2b29;
                            color: white;
                            border-radius:10px;
                            transition:0.5s ease all;
                        }
        a {
            color: black;
        }

                a:hover{
                    background-color:#716d3a;
                    color:white;
                }

                .footer {
                    width: 100%;
                    margin-top: 50px;
                    background-color: #201c29;
                    position: absolute;
                }

                    .footer .top-foot {
                        float: left;
                        color: #fff;
                    }      
                        .footer .top-foot .category {
                            width: 100%;
                            float: left;
                            margin-right: 10px;
                        }          
        @@media(max-width:1024px)
                {
                    .footer .top-foot h2{
                    font-size: 20px;
                    }
                }
        .colorr {
            background-color: rgba(214, 188, 137, 0.277);
        }
    </style>
</head>

<body>
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top colorr" role="navigation">
        <a class="navbar-brand" href="@Url.Action("Index","Fashion")"> <img src="~/Content/images/zyro-image.png" style="width:80px; margin-left:100%"/></a>
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div style=" font-size: 18px; font-weight: bold;" class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav na">
                    <li>
                        <a href="@Url.Action("AllSP","Fashion")" style="color:black">Loại Sản Phẩm</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Contact","Fashion")" style="color:black">Liên Hệ</a>
                    </li>

                </ul>
                <div>
                    <ul class="Login">
                        @Html.Action("SoLuongGioHang", "GioHang")
                    </ul>

                    @if (Session["User"] == null)
                    {
                        <div class="Login" style="color:black"><a href="@Url.Action("SignUp","NguoiDung")">Đăng Ký</a></div>
                        <div class="Login"><a href="@Url.Action("Login","NguoiDung")">Đăng Nhập</a></div>
                    }
                    else
                    {
                        <div class="dropdown Login">
                            <a id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                                Hi @Session["User"]
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="@Url.Action("LogOut","NguoiDung")">Đăng Xuất</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="@Url.Action("History","History")">Lich Sử</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="@Url.Action("ChangePassword","NguoiDung")">Đổi mật khẩu</a></li>
                            </ul>
                        </div>
                    }
                </div>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    @RenderSection("GioHang", false)
    <!-- Page Content -->
    <div class="container">
        <!-- New Product -->
        <div class="row">
            @RenderSection("Table", false)
            <div class="col-md-9"style="margin-top:2%">
                <div>
                    @RenderBody()
                </div>
            </div>
            @RenderSection("MenuTrang", false)
        </div>
        @RenderSection("Footer", false)
    </div>
    <!-- /.container -->   
    <!-- Footer -->
	<div class="footer">
		<div class="container">
			<div class="top-foot">				
				<div class="category">
					<h2>Liên Hệ</h2>
					<p>Địa Chỉ: Quận 9</p>
					<p>Hotline: 0373272294</p>
					<p >Email:<a href="mailto:vinhducbui16@gmail.com"style="color:white;font-weight:bold;"> vinhducbui16@gmail.com</a></p>
				</div>	
			</div>
		</div>		
	</div>
    <button id="bttop">
        <i class="fas fa-arrow-circle-up"></i>
    </button>
    <!-- jQuery -->
    <script src="~/Scripts/jquery.js"></script>

    <!--Button Top-->
    <script src="~/Scripts/ButtonTop.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="~/Scripts/bootstrap.min.js"></script>

    <!-- Detail-->
    <script src="~/Scripts/app.js"></script>

    <!-- Login Pop Up-->
    <script src="~/Scripts/Login_popup.js"></script>
    <script>
        const popup = document.querySelector('.popup');
        const close = document.querySelector('.close');
        //set time for pop up
        window.onload = function () {
            setTimeout(function () {
                popup.style.display = "block";
            }, 5000)
        }
        close.addEventListener('click', () => {
            popup.style.display = "none";
        })
    </script>
</body>
</html>
